:root {
    --main-color: orange;
    --emphasis-color: darkorange;
    --cancel-button-color: #fa372b;
    --confirm-button-color: limegreen;
    --back-button-color: #ffd232;
    --edit-button-color: royalblue;
    --hover-row-color: #eeeeee;
    --selected-row-color: rgba(255, 165, 0, 0.7);
    --empty-row-color: #dddddd;
    --input-focus-color: #eeeeee;
    --menu-background-color: #dddddd;
    --footer-background-color: #dddddd;
    --page-title-font-size: 2.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana, Arial, sans-serif;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.page-title {
    width: 50%;
    font-size: var(--page-title-font-size);
    text-align: center;
    margin: 3rem auto 0 auto;
}

.dark-filter {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.grid-div {
    display: grid;
    grid-template-rows: 120px 1fr 300px;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
}

.navbar-header {
    grid-area: header;
}

.grid-div main {
    grid-area: main;
}

.footer-section {
    margin-top: 5rem;
    grid-area: footer;
}

input, textarea {
    border: black solid 1px;
    padding-left: 2px;
}

input:focus, textarea:focus {
    background-color: var(--input-focus-color);
}


/* -------------NAVBAR------------- */

.navbar-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-color);
    z-index: 999;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-list__logo {
    flex-grow: 2;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-button {
    background: none;
    margin-right: 3rem;
    display: none;
}

.navbar-list a {
    display: block;
}

.navbar-list li:not(.navbar-list__logo) {
    display: block;
}

.navbar-list a:not(.navbar-list__logo a) {
    color: black;
    padding: 0 3rem;
    font-size: 1.2rem;
}


/* -------------SLIDE SHOW------------- */

.slide-image {
    width: 35rem;
    height: 20rem;
    z-index: 1;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.slide-image-thing {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.dark-filter {
    display: flex;
    align-items: center;
    align-content: center;
}

.slide-image-thing-text {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.slide-image-thing__center-text {
    color: white;
    font-size: 1em;
}

.slide-image-thing__center-text-p {
    color: white;
    font-size: 0.8em;
}

#slide-image__left-arrow, #slide-image__right-arrow {
    width: 5vw;
    height: 5vw;
    display: block;
}

#slide-image__left-arrow {
    background-color: white;
}

#slide-image__right-arrow {
    background-color: white;
}

#slide-image__left-arrow img {
    width: 100%;
    height: 100%;
}

#slide-image__right-arrow img {
    width: 100%;
    height: 100%;
}



/* -------------MENU------------- */

.menu {
    display: flex;
    flex-direction: row;
}

.menu-left, .menu-right {
    padding-bottom: 1rem;
    width: 50%;
    background-color: var(--menu-background-color);
}

#menu-section h2 {
    text-align: center;
    margin: 3em 0 1.5em 0;
}

.menu-left h3, .menu-right h3 {
    font-size: 1.5em;
    line-height: 3em;
    padding: 1.3em 0 0 1.3em;
}

.menu-left p, .menu-right p {
    line-height: 2em;
}

.sides {
    margin-top: 1rem;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 2em;
}

.sides:last-child {
    margin-bottom: 1rem;
}

.left-side-image {
    position: relative;
    box-sizing: content-box;
    min-width: 5vw;
    width: 5vw;
    height: 5vw;
    display: block;
    margin-left: 2em;
}

.left-side-image img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    border-radius: 5em;
}

.left-side-text {
    width:50%;
    padding-left: 2em;
}

.left-side-text p, .right-side-text p{
    line-height: 1.3em;
}

.left-side__ingredients {
    font-size: 0.8em;
    font-weight: bold;
}

.right-side-text {
    padding-right: 3em;
}

.right-side {
    margin-right: 2em;
}


/* -------------LINKS TO RESERVATIONS------------- */

.reserva {
    background-color: var(--confirm-button-color);
    text-align: center;
    margin-bottom: 10rem;
    border-radius: 1rem;
}

.reserva h2 {
    font-size: 1.5rem;
    color: white;
    display: block;
    padding: 3rem;
}


/* -------------ABOUT US------------- */

#about-us-section h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 3em;
}

.about-us-content {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
}

.about-us-description {
    width: 50%;
    font-size: 1.3rem;
    padding: 5rem;
    text-align: justify;
    color: white;
}

.about-us-image {
    width: 50%;
}

.about-us-image img {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}


/* -------------LINKS TO COMPLAINTS------------- */
.complaints {
    background-color: var(--cancel-button-color);
    text-align: center;
    border-radius: 1rem;
    margin-top: 7rem;
}

.complaints h2 {
    font-size: 1rem;
    color: white;
    display: block;
    padding: 0.5rem;
}

/* -------------FOOTER------------- */

#footer-container {
    box-sizing: content-box;
    background-color: var(--footer-background-color);
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    padding: 2rem 0 1.5rem 0;
}

#footer-container ul{
    list-style-type:none;
}

.contact-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding-bottom: 1em;
}

.contact-list .copyright{
    font-size: 0.8em;
}

.hours {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100%;
    align-items:center;
}

.social-list {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom:1em;
}

.social-media-icon {
    transform: translateY(25%);
}

.social-media-icon img {
    width: 3rem;
}

hr{
    height:80%;
    width:0.1%;
    border-width:0;
    color:black;
    background-color:black;
}

.icons-size {
    width: 3em;
    height: 3em;
    display: inline-block;
    margin-left: 1em;
}

.icons-size a {
    display: inline-block;
}

.icons-size img {
    width: 100%;
    height: 100%;
}


/* -------------TABLE------------- */

.data-table {
    width: 70vw;
    margin: 4vw auto 3vw auto;
    box-sizing: border-box;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    padding: 0.8vw;
    border: 1px solid lightgrey;
}

.data-table th {
    font-size: 1.3vw;
    background-color: var(--main-color);
    color: white;
}

.data-table td {
    text-align: center;
    font-size: 1vw;
}

.data-table tr:not(.title-row):not(.empty-row):not(.non-selectable-row):hover {
    cursor: pointer;
}

.data-table tr:not(.selected-row):not(.title-row):not(.empty-row):hover {
    background-color: var(--hover-row-color);
}

.selected-row {
    background-color: var(--selected-row-color);
}

.empty-row {
    background-color: var(--empty-row-color);
}

.info {
    text-align: center;
    width: 40%;
    margin: 4rem auto 4rem auto;
    font-size: 2.5rem;
}


/* -------------ADMIN RESERVATIONS SELECTOR------------- */

.reservations-selector {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
    background-color: var(--main-color);
    border-radius: 0.5rem;
}

.reservations-selector button {
    padding: 0.5rem;
    background: none;
}

.reservations-selector button:disabled {
    background-color: #dddddd;
    cursor: default;
    border-radius: 0.5rem;
}

.counter {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--main-color);
    color: white;
}


/* -------------BUTTONS------------- */

.buttons-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 2rem 0;
}

.management-button {
    display: block;
    font-size: 1.2rem;
    width: 20%;
    padding: 1.2rem;
    text-align: center;
    text-decoration: none;
    margin: 0 1rem;
}

.management-button:hover {
    cursor: pointer;
}

.back-button {
    color: black;
    background-color: var(--back-button-color);
}

.cancel-button {
    color: white;
    background-color: var(--cancel-button-color);
}

.confirm-button {
    color: black;
    background-color: var(--confirm-button-color);
}

.edit-button {
    color: white;
    background-color: var(--edit-button-color);
}

/* -------------FORM PAGE------------- */

/* -------------FORM------------- */

.user-form {
    font-size: 1.6rem;
    text-align: center;
}

.user-form .labels-container, .user-form .inputs-container {
    display: inline-block;
    text-align: left;
}

.labels-container {
    margin-right: 2rem;
}

.user-form label, .user-form input {
    display: block;
    margin: 5rem 0;
}

.user-form input, .user-form textarea {
    display: block;
    font-size: 1.4rem;
}

.user-form input {
    height: 2rem;
    width: 25rem;
}

.user-form textarea {
    margin: 3rem auto;
}


/* -------------LINK TO LOGIN / SIGNUP------------- */

.already-paragraph {
    display: inline;
}

.already-div {
    margin: 1rem 0 3rem 0;
    text-align: center;
    font-size: 1.5rem;
}

.go-to-login-signup {
    color: var(--emphasis-color);
    background: none;
    font-size: inherit;
}

.go-to-login-signup:hover {
    cursor: pointer;
}

/*----------------- Menú Edit ----------------*/
.menu-form {
    font-size: 1rem;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 10rem;
}

.menu-form select {
    font-size: 2rem;
}

.menu-form option {
    font-size: 20px;
    text-align: center;
}

/* -------------COMPLAINTS AND SUGGESTIONS/ ADMIN------------- */

.cards-grid {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-div {
    margin: 1rem;
    padding: 1rem;
    background-color:white;
    border-radius: 1rem;
    height: 15rem;
    border: var(--main-color) solid 5px;
}

.card-title {
    width: 100%;
    color: var(--emphasis-color);
    text-align: center;
    font-size: 1.4rem;
    margin: 0 0 1rem;
}

.card-content {
    font-size: 1.1rem;
    box-sizing: border-box;
    padding: 0.5rem;
    text-align: justify;
    height: 80%;
    overflow: auto;
}


/* -------------MENU ITEMS------------- */
.page-title input {
    font-size: var(--page-title-font-size);
    text-align: center;
}

.menu-card-div {
    margin: 1rem;
    border-radius: 1rem;
    background-color: white;
    padding: 1rem;
    background-color: var(--main-color);
}

.menu-card-div .name-input {
    padding: 3px 0;
    width: 90%;
}

.menu-card-div .delete-item-button {
    background: none;
    margin-left: 1%;
    width: 5%;
}

.menu-card-div .image-input {
    width: 100%;
}

.menu-card-div .ingredients-textarea {
    display: block;
    height: 4rem;
    width: 100%;
}

.menu-card-div input {
    margin: 0.5rem 0;
}



/* ------------- TABLET / LAPTOP ------------- */

@media screen and (max-width: 1268px) and (min-width: 601px) {
    html {
        font-size: 12px;
    }

    .grid-div {
        grid-template-rows: 200px 1fr 360px;
    }

    .navbar-list li:not(.navbar-list__logo) {
        display: block;
    }

    .page-title {
        font-size: 2rem;
    }
    
    .navbar-header {
        position: static;
        flex-wrap: nowrap;
    }

    .navbar-list__logo {
        flex-basis: 100%;
    }

    .navbar-list a {
        margin-bottom: 0.5rem;
    }

    .slide-image-thing__center-text {
        font-size: 1em;
    }
    
    .slide-image-thing__center-text-p {
        font-size: 12px;
    }

    /* ----- ABOUT US ----- */

    .about-us-content {
        flex-direction: column-reverse;
    }

    .about-us-description {
        width: 75%;
        font-size: 1.3rem;
    }
        
    .about-us-image {
        width: 50%;
        margin-top: 5rem;
    }

    /* ----- MENU ----- */

    .menu-left h3, .menu-right h3 {
        font-size: 1.5em;
    }

    .left-side__ingredients {
        font-size: 1em;
    }

    .right-side {
        font-size: 1.2em;
    }

    /* ----- HOJA DE RECLAMACIONES BOTON ----- */
    .complaints {
        width: 30%;
        height: 5em;
        margin: 3em auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* ----- FOOTER ----- */

    .contact-list li {
        font-size: 0.9em;
    }


    /* ----- BUTTONS ----- */
    
    .management-button {
        font-size: 1rem;
        width: 30%;
        justify-content: center;
    }

    /* ----- TABLE ----- */

    .data-table {
        width: 75vw;
        margin: 4vw auto 3vw auto;
        box-sizing: border-box;
    }

    .data-table th, .data-table td {
        padding: 1.8vw;
    }
    
    .data-table th {
        font-size: 1.8vw;
    }
    
    .data-table td {
        font-size: 1.8vw;
    }

    /* ----- FORM ----- */

    .user-form {
        font-size: 1.4rem;
    }
    
    .user-form input, .user-form textarea {
        font-size: 1.2rem;
    }
    
    .user-form input {
        height: 1.7rem;
        /* width: 20rem; */
    }

    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
    



/* ------------- MOBILE PHONE ------------- */

@media screen and (max-width: 600px) {
    html {
        font-size: 9px;
    }

    .page-title {
        font-size: 1.8em;
        width: 75%;
    }

    .navbar-list li:not(.navbar-list__logo) {
        display: none;
    }

    .navbar-list {
        flex-direction: column;
    }

    .hamburger-button {
        display: block;
    }

    .navbar-list li {
        width: 100%;
        border-top: 1px solid black;
        text-align: center;
    }

    .navbar-list a:not(#la-nostra-casa-nav-logo):not(.user-icon) {
        padding: 15px 0;
    }

    .navbar-list .user-icon {
        margin: 5px;
    }

    .navbar-list__user-icon img {
        width: 40px;
    }

    /* ----- CARRUSEL DE IMAGENES ----- */




    /* ----- MENU ----- */
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu-left, .menu-right {
        height: 100%;
        width: 100%;
    }

    .menu-left p, .menu-right p {
        font-size: 1.3em;
    }

    .left-side__ingredients {
        font-size: 1.3em;
    }

    .right-side-text {
        font-size: 1.3em;
    }

    .left-side-text {
        width:75%;
    }

    .menu-left h3, .menu-right h3 {
        font-size: 1.5em;
    }

    /* ----- RESERVE HERE ----- */
    
    .reserva {
        width: 60%;
        height: 3%;
        margin: 3em auto 10em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .reserva a {
        width: 100%;
        height: 100%;
    }

    /* ----- ABOUT US ----- */
    .about-us-content {
        flex-direction: column-reverse;
    }

    .about-us-image {
        height: 100%;
        width: 100%;
    }

    .about-us-description {
        font-size: 1.3rem;
    }

    /* ----- HOJA DE RECLAMACIONES BOTON ----- */
    .complaints {
        width: 70%;
        height: 3%;
        margin: 3em auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* ----- HOJA DE RECLAMACIONES ----- */

        #complaint {
            width: 75%;
        }

    /* ----- BUTTONS ----- */
    
    .management-button {
        font-size: 1.5rem;
        width: 75%;
        margin-top: 1rem;
    }

    .buttons-container {
        flex-direction: column-reverse;
        width: 100%;
    }

    .reservations-selector {
        order: 1;
    }

    /* ----- TABLE ----- */

    .data-table {
        width: 100%;
        box-sizing: border-box;
    }

    .data-table th, .data-table td {
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    
    .data-table th {
        font-size: 3vw;
    }
    
    .data-table td {
        font-size: 3vw;
    }

    /* ----- FOOTER ----- */
    .footer-section {
        width: 100%;
        height: 40rem;
    }

    #footer-container {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .social-list {
        height: 100%;
        flex-direction: column;
    }

    .social-icons {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 2em;
    }

    .contact-list {
        line-height: 1.8em;
    }

    .hours li h3 {
        padding: 2em 0;
    }

    .cards-grid {
        grid-template-columns: 1fr;
    }

    .card-div {
        height: auto;
        max-height: 20rem;
    }
}

