<nav id="nav-bar-container">
    <ul class = "navbar-list">
        <li class="navbar-list__logo">
            <a id="la-nostra-casa-nav-logo" href="index.html"><img src="/images/logo.png" alt="Logo" width="100"></a>
            <button class="hamburger-button">
                <img src="/images/hamburger-button.png" alt="Button that opens menu" width="40">
            </button>
        </li>
        <li class="navbar-list__home"><a href="index.html">Inicio</a></li>
        <li class="navbar-list__menu"><a href="index.html#menu-section">Menú</a></li>
        <li class="navbar-list__reservations"><a href="reservations.html">Reservas</a></li>
        <li class="navbar-list__about-us"><a href="index.html#about-us-section">Sobre nosotros</a></li>
        <li class="navbar-list__contact"><a href="index.html#home-footer">Contacto</a></li>
        <li class="navbar-list__user-icon">
            <a href="login.html" class="user-icon"><img src="/images/user-icon.png" alt="User" width="50"></a>
        </li>
    </ul>
</nav>
