<nav id="nav-bar-container">
    <ul class = "lista-paginas">
        <li class="lista-paginas__titulo"><h1><a id="la-nostra-casa-nav-title" href="/html/index.html">La Nostra Casa</a></h1></li>
        <li class="lista-paginas__inicio"><a href="/html/index.html">Inicio</a></li>
        <li class="lista-paginas__menu"><a href="/html/index.html#main-content">Menú</a></li>
        <li class="lista-paginas__reservas"><a href="/html/reservations.html">Reservas</a></li>
        <li class="lista-paginas__about-us"><a href="/html/index.html#about-us-section">Sobre nosotros</a></li>
        <li class="lista-paginas__contacto"><a href="/html/index.html#footer-section">Contacto</a></li>
        <li class="lista-paginas__user-icon">
            <a href="/html/login.html" class="user-icon"><img src="/images/user-icon.png" alt="User"></a>
        </li>
    </ul>
</nav>